/* Custom made CSS for this particular Recipe component */

.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(111 110 110);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 40%;
    padding: 30px;
}

.title {
    text-align: center;
    color:lightcoral;
}

.image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.ingredients {
    list-style: none;
    padding-left: 0px;
}

.ingredient {
    padding-bottom: 4px;
}